@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* @import '@skeletonlabs/skeleton/optional/presets'; */
@import '@skeletonlabs/skeleton';
@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@import '@fontsource-variable/inter';
@import '@fontsource-variable/playfair-display';

:root {
	--header-height: 5rem;
	--footer-height: 4rem;
}

/* @theme { */
/*  */
/* color-primary: green-900;  */
/* --color-secondary: amber-400; */
/* --color-secondary: #ffc83f; */
/* --color-tertiary: #bd897e;
	--color-heading: #000000;
	--color-primary-text: #1f2937;
	--color-navbar: #000000;
	--color-footer: #000000; */
/* } */

[data-theme='nora'] {
	--color-primary: #224932;
	--color-primary-hover: #224932;
	/* --color-secondary: var(--color-amber-300); */
	--color-secondary: #ffc83f;
	--color-tertiary-50: #eff8e2;
	/* --color-fourth: #ada8b6;
	--color-fifth: #23022e; */
	/* --color-background: var(--color-stone-200); */

	/* --base-font-color: var(--color-stone-800); */
	/* --color-background: hsl(30, 25%, 92%);
	--color-background: hsl(90, 95%, 92%); */
	/* --color-heading: #ffffff; */
	/* --color-navbar: var(--body-background-color); */
	--color-footer: #111827;
	--base-font-family: 'InterVariable', sans-serif;
	--heading-font-family: 'Playfair Display Variable', serif;
	--radius-base: 20px;
	--radius-container: 12px;
	/* --text-scaling: 1.25; */
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--heading-font-color: var(--color-primary-950);
	--heading-font-color-dark: var(--color-surface-950);
	--anchor-font-color: var(--color-primary-500);
	/* --anchor-font-color-dark: var(--color-primary-500); */
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(97.23% 0.01 153.41deg);
	--color-primary-100: oklch(91.49% 0.03 158.59deg);
	--color-primary-200: oklch(85.77% 0.05 158.53deg);
	--color-primary-300: oklch(80.13% 0.07 158.69deg);
	--color-primary-400: oklch(74.55% 0.1 157.49deg);
	--color-primary-500: oklch(69.11% 0.12 155.98deg);
	--color-primary-600: oklch(60.61% 0.1 155.92deg);
	--color-primary-700: oklch(51.48% 0.09 156.48deg);
	--color-primary-800: oklch(42.22% 0.07 155.63deg);
	--color-primary-900: oklch(32.1% 0.05 156.53deg);
	--color-primary-950: oklch(21.48% 0.03 156.67deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(97.93% 0.03 90.87deg);
	--color-secondary-100: oklch(95.2% 0.06 89deg);
	--color-secondary-200: oklch(92.79% 0.09 89.22deg);
	--color-secondary-300: oklch(90.31% 0.12 88.23deg);
	--color-secondary-400: oklch(88.16% 0.14 87.58deg);
	--color-secondary-500: oklch(85.96% 0.16 85.6deg);
	--color-secondary-600: oklch(75.13% 0.14 85.75deg);
	--color-secondary-700: oklch(64.01% 0.12 85.37deg);
	--color-secondary-800: oklch(52.04% 0.09 84.68deg);
	--color-secondary-900: oklch(39.69% 0.07 83.52deg);
	--color-secondary-950: oklch(26.13% 0.05 82.64deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-surface-50: oklch(100% 0 none);
	--color-surface-100: oklch(90.67% 0 none);
	--color-surface-200: oklch(81.41% 0 none);
	--color-surface-300: oklch(71.55% 0 none);
	--color-surface-400: oklch(61.67% 0 none);
	--color-surface-500: oklch(51.03% 0 none);
	--color-surface-600: oklch(44.95% 0 none);
	--color-surface-700: oklch(38.67% 0 none);
	--color-surface-800: oklch(32.11% 0 none);
	--color-surface-900: oklch(25.2% 0 none);
	--color-surface-950: oklch(17.76% 0 none);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}

html {
	scroll-behavior: smooth;
}

body {
	scroll-behavior: smooth;
}

header {
	height: var(--header-height);
}

footer {
	height: var(--footer-height);
}

section {
	min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

h1,
h2,
h3,
h4 {
	font-family: var(--heading-font-family);
}

a {
	font-family: var(--anchor-font-family);
	/* font-size: var(--anchor-font-size); */
}

.site-header {
	width: 100%;
	z-index: 99999;

	@media (min-width: 64em) {
		position: fixed;
		padding: 30px 0;
	}
}
.headroom {
	transition: transform 0.25s ease-in-out;
	will-change: transform;
}
.headroom--pinned {
	transform: translateY(0);
}
@media (min-width: 64em) {
	.headroom--unpinned {
		transform: translateY(-100%);
	}
}

[animation^='fade'] {
	opacity: 0;
	transform: translateY(20px);
	transition:
		opacity 0.6s ease,
		transform 0.6s ease;
	transition-property: opacity, transform;
}

[animation^='fade'].aos-animate {
	opacity: 1;
	transform: translateY(0);
	/* transform: translateZ(0); */
}

/* .nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
} */

/* div,
p {
	font-family: var(--text-font-family);
} */

/* a .btn-lg {
	font-size: var(--anchor-font-size);
} */
.btn-xl {
	font-size: var(--text-2xl)
		/* calc(1.25rem * var(--text-scaling)) = calc(20px * var(--text-scaling)) */;
	font-weight: bold;
	line-height: var(--text-2xl--line-height)
		/* calc(calc(1.75 / 1.25) ≈ 1.4 * var(--text-scaling)) */;
	padding-block: calc(var(--spacing) * 5) /* 0.5rem = 8px */;
	padding-inline: calc(var(--spacing) * 8) /* 1.25rem = 20px */;
}

.btn-primary {
	background-color: var(--color-primary-800);
	border-color: var(--color-primary-800);
}
.btn-secondary {
	background-color: var(--color-secondary-500);
	border-color: var(--color-secondary-500);
}

.btn:not(:disabled):hover {
	filter: brightness(115%);
}
